.button-1{
	background-color: black;
	color: white;
	font-size: 15pt;
	font-family: Arial;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
	float:left;
}
.menu-bar ul li{
    width: 120px;
    margin: 1px;
    padding: 1px;
	margin-right:2px;
	margin-left:2px;
}
	.menu-bar ul li:hover .button-1
{
    display: block;
    position: absolute;
    background-color:black ;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li a{
    text-decoration: none;