body{
	font-size:0.972vw;
}
.actual-bar{
	background-image: url(solo.jpeg); 
	width: auto;
	height: 11.71875vw;
	color: white;
}
.text-1{
		font-size: 1.389vw;
		width:56.426332288401255vw;
		margin-left:0.46875vw;
		list-style: none;
		display: inline-flex;
		height:  6.269592476489028vw;
		text-decoration: none;
		background-color: white;
		font-family: sans-serif;
}
.useless:hover .text-1
{
    display: block;
    position: relative;
    margin-top:  0.15625vw;
	background-color: white;
	}
	.image-1{
		float: left;
		width: auto;
		background-color: transparent;
	}
	footer{
		background-color: black;
		color: white;
		font-family: sans-serif;
		font-size: 0.764vw;
		width: auto;
	}
	.img{
		width: 500px;
		background-color: transparent;
		text-align: left;
		font-size: 0.903vw;
	}
	.footer_contact_form{
		float: right;
		background-color: black;
		font-size: 1.111vw;
	}
	.footer_contact{
		width: auto;
		height: auto;
	}
	.footer_contact_text2{
		text-align: left;
	}
