*
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	width:auto;
	height:auto;
}
body{
	font-size:1.042vw;
}
.actual-bar{
	background-image: url(banner.png); 
	width: auto;
	height: 14.229249011857707vw;
	color: white;
	padding: 0;
	margin: 0%;
}
.text-1{
		font-size: 1.488vw;
		width:28.458498023715414vw;
		margin-left:0.4743083003952569vw;
		list-style: none;
		display: inline-flex;
		height: 3.1620553359683794vw;
		text-decoration: none;
		background-color: white;
		font-family: sans-serif;
}
.useless:hover .text-1
{
    display: block;
    position: relative;
    margin-top: 0.15810276679841898vw;
	background-color: white;
	}
	.image-1{
		float: left;
		width: auto;
		background-color: transparent;
	}
	footer{
		background-color: black;
		color: white;
		font-family: sans-serif;
		font-size: 0.818vw;
		width: auto;
		height: 23.715415019762847vw;
	}
	.img{
		width:39.52569169960474vw;
		background-color: transparent;
		text-align: left;
		font-size:0.967vw ;
		font-size:1.339vw ;
	}
	.footer_contact_form{
		float: right;
		background-color: black;
		font-size: 1.19vw;
	}
	.footer_contact{
		width: auto;
		height: auto;
	}
	.footer_contact_text2{
		text-align: left;
		font-size: 1.339vw;
	}
	div.sectionz{
		margin:0.16051364365971107vw ; 
		padding:0.16051364365971107vw ; 
		border: 0.16051364365971107vw solid #0000;
		height: auto; width: auto; float: left;
		text-align: left;
	}
	div.sectionz img{
		display: inline;
		margin: 0.16051364365971107vw;
		border: 0.16051364365971107vw solid #0000;
	}
	div.sectionz a:hover img{
		border: 0.16051364365971107vw solid #0000;
	}
	.animation{
		width:48.154093097913325vw;
		height:48.154093097913325vw;
		background-color: black;
		padding: 0%;
		margin: 0%;
		float: right;
	}
a{
	text-decoration: none;
	color: #000;
}
